repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: trailing-whitespace
- repo: https://github.com/psf/black
  rev: 25.11.0
  hooks:
  - id: black
- repo: https://github.com/pycqa/isort
  rev: 7.0.0
  hooks:
  - id: isort
    name: isort (python)
  - id: isort
    name: isort (cython)
    types: [cython]
- repo: https://github.com/MarcoGorelli/cython-lint
  rev: v0.18.1
  hooks:
  - id: cython-lint
  - id: double-quote-cython-strings
