name: build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: 'pip'
          cache-dependency-path: pyproject.toml

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install black flake8 pytest pytest-cov
          pip install -r ./docs/sphinx_requirements.txt
          pip install --verbose --editable .

      - name: Check formatting with black
        run: |
          black --line-length 100 --diff --color .
          black --line-length=100 --check .

      - name: Linting with flake8
        run: |
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics || exit 1
          flake8 . --count --exit-zero --max-line-length=100 --ignore=E402,W503 --statistics

      - name: Test with pytest
        run: |
          python -m pytest docs/*rst
          python -m pytest --pyargs quantile_forest --cov=quantile_forest --doctest-modules

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
