name: docs

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*.*.*'

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      PIP_CONSTRAINT: ${{ github.workspace }}/docs/sphinx_constraints.txt

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python 3.13
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install uv
        run: pip install uv

      - name: Create virtual environment
        run: uv venv

      - name: Install dependencies
        run: |
          uv pip install --editable . -c "$PIP_CONSTRAINT"
          uv pip install -r docs/sphinx_requirements.txt -c "$PIP_CONSTRAINT"

      - name: Build documents
        working-directory: docs
        env:
          GA_TRACKING_ID: ${{ secrets.GA_TRACKING_ID }}
        run: |
          . ../.venv/bin/activate
          make clean
          mkdir -p source/_images
          make html

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./docs/_build/html/
