name: publish

on:
  push:
    branches:
      - main
    tags:
      - 'v*.*.*'

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v4

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.16.5
        env:
          CIBW_BUILD: cp3*-*
          CIBW_SKIP: pp* *i686* *win32 *musllinux*
          CIBW_PROJECT_REQUIRES_PYTHON: ">=3.8"
          CIBW_BEFORE_BUILD: pip install --verbose --editable .
          CIBW_ARCHS_LINUX: auto64
          CIBW_ARCHS_MACOS: x86_64 universal2 arm64
          CIBW_ARCHS_WINDOWS: auto64

      - uses: actions/upload-artifact@v4
        with:
          name: artifact-wheels-${{ matrix.os }}
          path: ./wheelhouse/*.whl

  build_sdist:
      name: Build source distribution
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4

        - uses: actions/setup-python@v5
          name: Install Python
          with:
            python-version: '3.12'

        - run: pip install build

        - name: Build sdist
          run: python -m build --sdist

        - uses: actions/upload-artifact@v4
          with:
            name: artifact-source
            path: dist/*.tar.gz

  upload_pypi:
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest

    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/v')
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: dist
          pattern: artifact-*
          merge-multiple: true

      - uses: pypa/gh-action-pypi-publish@v1.8.12
        with:
          user: __token__
          password: ${{ secrets.PYPI_PASSWORD }}
          # To test, uncomment the following:
          # password: ${{ secrets.TEST_PYPI_PASSWORD }}
          # repository-url: https://test.pypi.org/legacy/
